/**
 * Roboto
 */
// @font-face {
//   font-family: "Roboto";
//   src: url("../../fonts/roboto/Roboto-Thin.ttf") format("truetype");
//   font-weight: 100;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("../../fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
//   font-weight: 100;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("../../fonts/roboto/Roboto-Light.ttf") format("truetype");
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("../../fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
//   font-weight: 300;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype");
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("../../fonts/roboto/Roboto-Italic.ttf") format("truetype");
//   font-weight: 400;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("../../fonts/roboto/Roboto-Medium.ttf") format("truetype");
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("../../fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
//   font-weight: 500;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("../../fonts/roboto/Roboto-Bold.ttf") format("truetype");
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("../../fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
//   font-weight: 700;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("../../fonts/roboto/Roboto-Black.ttf") format("truetype");
//   font-weight: 900;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("../../fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
//   font-weight: 900;
//   font-style: italic;
// }

/**
 * Yantramanav
 */
@font-face {
  font-family: "Yantramanav";
  src: url("../../fonts/yantramanav/Yantramanav-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Yantramanav";
  src: url("../../fonts/yantramanav/Yantramanav-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Yantramanav";
  src: url("../../fonts/yantramanav/Yantramanav-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Yantramanav";
  src: url("../../fonts/yantramanav/Yantramanav-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Yantramanav";
  src: url("../../fonts/yantramanav/Yantramanav-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Yantramanav";
  src: url("../../fonts/yantramanav/Yantramanav-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/**
 * Open Sans
 */
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans/ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans/ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}