//
// <artist-block>
//
artist-block {
  position: relative;
  display: block;

  &.interacting {

    .controls {
      opacity: 1;
    }

    .art .albums-bg:before {
      opacity: 1 !important;
    }
  }

  .inner {
    width: 100%;
  }

  .meta {
    padding: 9px 5px 0 5px;
  }

  .name {
    font: 400 13px var(--base-font);
    color: var(--color-opposite);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .art {
    padding-top: 50%;
    position: relative;
    overflow: hidden;
    @include pop();
  }

  .link-cover, .link-cover span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 3;
  }

  .photo-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: var(--border-radius-small);
    background: {
      repeat: no-repeat;
      size: cover;
      position: center center;
    }
  }

  .albums-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: var(--border-radius-small);
    transition: transform 2s;
    transform: scale(1);
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      opacity: 0;
      background: var(--part-transparent-gradient);
    }

    .album-thumb {
      height: 100%;
      position: absolute;
      background: {
        repeat: no-repeat;
        position: center center;
        size: cover;
      }
    }

    &[data-num="1"] {
      .album-thumb { 
        width: 100%;
        top: 0;
        left: 0;
       }
    }

    &[data-num="2"] {
      .album-thumb { 
        width: 50%;
        top: 0;
        left: 0;
      }

      .album-thumb:nth-of-type(2) { left: 50%; }
    }

    &[data-num="3"] {
      .album-thumb { 
        width: 33.3333%;
        top: 0;
        left: 0;
       }

       .album-thumb:nth-of-type(2) { left: 33.3333%; }
       .album-thumb:nth-of-type(3) { left: 66.6666%; }
    }

    &[data-num="4"] {
      .album-thumb { 
        width: 25%;
        top: 0;
        left: 0;
       }

       .album-thumb:nth-of-type(2) { left: 25%; }
       .album-thumb:nth-of-type(3) { left: 50%; }
       .album-thumb:nth-of-type(4) { left: 75%; }
    }
  }

  .controls {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 15px;
    bottom: 15px;
    opacity: 0;
    z-index: 4;
  }
}

artist-block[layout="bio"] {
  display: flex;
  align-items: center;
  justify-content: center;

  .photo {
    width: 55px;
    height: 55px;
    margin-right: 15px;
    flex-shrink: 0;

    a {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 100%;
    }

    .artist-photo {
      width: 100%;
      height: 100%;
      background: {
        repeat: no-repeat;
        size: cover;
        position: center center;
      }
      @include pop();
      border-radius: 100%;
    }
  }

  .meta {
    padding: 0;

    .name {
      margin-bottom: 0;

      a {
        font: 500 16px var(--base-font);
        color: var(--color-opposite);
      }
    }
  }
}

#app:not([touch]) {

  // hoving with a mouse shows an overlay
  artist-block:hover {

    .controls {
      opacity: 1;
    }

    .art .albums-bg:before {
      opacity: 1 !important;
    }
  }
}

#app[touch] {

  artist-block {

    .controls {
      pointer-events: none;
    }
  }
}