<nav id="nav-bar">
  <div class="nav-item">
    <a href="/overview" class="router-link">
      <span tabindex="-1">
        <i class="fas fa-layer-group"></i>
        <span class="label">{i18n{server.nav.overview}}</span>
      </span>
    </a>
  </div>

  <div class="nav-item">
    <a href="/indexer" class="router-link">
      <span tabindex="-1">
        <i class="fas fa-folder"></i>
        <span class="label">{i18n{server.nav.indexer}}</span>
      </span>
    </a>
  </div>

  <div class="nav-item">
    <a href="/connected-devices" class="router-link">
      <span tabindex="-1">
        <i class="fas fa-lightbulb"></i>
        <span class="label">{i18n{server.nav.connected-devices}}</span>
      </span>
    </a>
  </div>

  <!-- <div class="nav-item">
    <a href="/settings" class="router-link">
      <span tabindex="-1">
        <i class="fas fa-sliders-h"></i>
        <span class="label">{i18n{server.nav.settings}}</span>
      </span>
    </a>
  </div> -->
</nav>