/**
 * Adjust the app for touch devices.
 */
#app[touch] {
  --focus-space: 0px;

  input, textarea {
    -webkit-user-select: text !important;
  }

  #top-grab { display: none; }

  #back-button {
    width: 30px;
    height: 30px;
    top: 79px;
    left: 10px;
  }

  #nav-pillar {

    .menus {

      li {

        a {
          font-size: 14px;

          span[tabindex="-1"] {
            padding-top: 8px;
            padding-bottom: 8px;
          }

          i {
            margin-right: 16px;
            font-size: 20px !important;
          }
        }
      }
    }
  }

  main#view {

    .view-content {
      height: calc(100vh - var(--playback-controls-height) - var(--mobile-top-nav-height) - 34px);
      margin-top: var(--mobile-top-nav-height) !important;
      margin-right: 0;

      // media feed has a different layout
      &:not(.media-feed-view-content) header {
        padding-left: 0;
        padding-right: 0;
      }

      &.has-fixed-header {
        margin-top: 0;

        header {
          position: static;
        }
      }
    }
  }
}

/**
 * Touch devices up to iPad Pro size.
 */
@media only screen and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  #app[touch] {
    
    #nav-pillar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 3;
      transform: translateX(-100%);
    }

    #view-pillar {
      width: 100%;
    }
  }
}

/**
 * Touch devices up to iPhone.
 */
@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5) {
  #app[touch] {
    --gutter: 10px;

    h1 {
      font-weight: 600;
      font-size: 28px;
    }

    h2 {
      font-size: 24px;
    }

    #mobile-logo {
      margin-right: 15px;
    }

    #back-button {
      width: 44px;
      height: 44px;
      box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.4);
      top: auto;
      font-size: 18px;
      right: 20px;
      left: auto;
      bottom: calc(var(--playback-controls-height) + 20px);
    }

    .slider-controls {
      
      button {
        margin: 0 0 0 5px;
      }
    }
    
    main#view {

      header {
        padding-right: 0;
        padding-left: 0;

        .breadcrumbs {
          font-size: 10px;
        }
      }

      .view-content {
        height: calc(100% - var(--playback-controls-height) - var(--mobile-top-nav-height));
        padding-right: var(--gutter);
        padding-left: var(--gutter);
      }
    }

    media-feed {
      --feed-view-left-padding: 0;
      --feed-view-right-padding: 0;

      .big-button {
        width: calc(50% - 16px) !important;
        height: 150px !important;

        i {
          font-size: 40px !important;
        }

        .title {
          height: 40px !important;
          font-size: 12px !important;
        }
      }
    }

    form {

      select {
        padding: 6px 8px;
        font-size: 12px;
      }

      .form-group {

        .group-title {
          font-size: 14px;
        }
      }
    }
  }
}