<div class="form-group" data-sync-with-db>
  <h4 class="group-title">{i18n{settings.start-page.title}}</h4>

  <select name="start_page">
    <optgroup label="{i18n{nav.music.title}}">
      <option value="/explore-music">{i18n{nav.music.explore}}</option>
      <option value="/artists">{i18n{nav.music.artists}}</option>
      <option value="/music-releases">{i18n{nav.music.albums}}</option>
      <option value="/tracks">{i18n{nav.music.tracks}}</option>
      <option value="/playlists">{i18n{nav.music.playlists}}</option>
      <option value="/music-genres">{i18n{nav.music.genres}}</option>
    </optgroup>
    <optgroup label="{i18n{nav.cinema.title}}">
      <option value="/home-cinema">{i18n{nav.cinema.home-cinema}}</option>
      <option value="/tv">{i18n{nav.cinema.tv}}</option>
      <option value="/movies">{i18n{nav.cinema.movies}}</option>
      <option value="/channels">{i18n{nav.cinema.channels}}</option>
      <option value="/cinema-genres">{i18n{nav.cinema.genres}}</option>
    </optgroup>
  </select>
</div>