//
// <context-menu>
//
context-menu {
  min-width: 175px;
  max-width: 250px;
  position: fixed;
  z-index: 10000;

  &.rmb {
    width: 175px;
  }

  &.show {

    ol {
      opacity: 1;
      transform: scale(1);
    }
  }

  ol {
    padding: 10px;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 75ms, transform 75ms;
    //box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-small);
    background: var(--base-darker-3);
  }

  .context-menu-group {
    margin-bottom: 9px;
    position: relative;

    &:first-of-type {

      .group-name {
        padding-top: 5px;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
      
      &:after {
        display: none;
      }
    }

    .group-name {
      padding: 10px 7px 0;
      color: var(--color-blend);
      margin-bottom: 5px;
      font: 600 12px var(--accent-font);
      letter-spacing: var(--letter-spacing);
      text-transform: uppercase;
      display: none;
    }
  }

  .context-menu-item {
    width: 100%;
    padding: 0;
    text-align: left;
    border: none;
    border-radius: var(--border-radius-small);
    display: flex;
    position: relative;
    background: transparent;

    &:hover {
      background: var(--base-lighter-2);

      &[data-hover="danger"] {
        background: var(--danger);
      }
    }

    // items that have dropdown children
    &.dropdown-item {

      &:after {
        content: '';
        position: absolute;
        border-radius: 100%;
        top: calc(50% - 4px);
        right: 3px;
        font-size: 8px;
        color: var(--color-egg);
        @include icon('\f054');
      }

      &.open {
        background: var(--base-lighter-2);
      }
    }

    i {
      width: 20px;
      text-align: center;
      margin-right: 11px;
      font-size: 16px;
      color: var(--color-faded);
      pointer-events: none;

      &:before, &:after {
        cursor: pointer;
      }
    }

    span {
      padding: 8px;
      display: flex;
      align-items: center;
      font: 13px var(--base-font);
      color: var(--color-opposite);
      cursor: pointer;
    }
  }

  .submenu-box {
    width: 195px;
    max-height: 100vh;
    overflow: hidden;
    position: absolute;
    top: -8px;
    left: 100%;
    background: none;

    &.shift-left {
      left: auto;
      right: 100%;
    }

    &.max-height {
      height: calc(100vh - 15px);
    }

    // 2nd level items
    .context-menu-item {
      
      // switch to margin instead of padding for better text cutoff
      span {
        max-width: 100%;
        padding: 0;
        margin: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .submenu {
    max-height: 100%;
    margin: 0 15px;
    background: var(--base-darker-3);
    border-radius: var(--border-radius-small);
    overflow-y: auto;

    &::-webkit-scrollbar-thumb {
      background: var(--base-lighter-2);
    }

    ol {
      padding-left: 10px;
      background: var(--base-darker-3);
    }

    .loading {
      width: 100%;
    }
  }

  // remove transitions from buttons masquerading as context menu items
  button {
    transition: none;
  }
}

.submenu-box.entry-animation {
  animation: dropdown-entry;
  animation-duration: 125ms;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateX(-10px);
}

@keyframes dropdown-entry {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}