<div class="folder-structure-guide">
  <div class="modal-header">
    <h2>{i18n{folder-structure-guide.title}}</h2>
  </div>

  <div class="text-content">
    {i18n{folder-structure-guide.desc-before-examples}}
  </div>

  <div class="folder-structure-examples">
    <!-- Music Examples -->
    <h3>{i18n{folder-structure-guide.example.music.title}}</h3>

    <div class="code-blocks half-half">
      <code>
        /{i18n{folder-structure-guide.example.music.code.artist}}<br>
        &nbsp;&nbsp;/{i18n{folder-structure-guide.example.music.code.album}}<br>
        &nbsp;&nbsp;&nbsp;&nbsp;• {i18n{folder-structure-guide.example.music.code.song}}<br>
        &nbsp;&nbsp;&nbsp;&nbsp;• {i18n{folder-structure-guide.example.music.code.cover-art}}<br>
      </code>
      <div class="or">{i18n{or}}</div>
      <code>
        /{i18n{folder-structure-guide.example.music.code.artist}}<br>
        &nbsp;&nbsp;/{i18n{folder-structure-guide.example.music.code.album}}<br>
        &nbsp;&nbsp;&nbsp;&nbsp;/{i18n{folder-structure-guide.example.music.code.disc}}<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• {i18n{folder-structure-guide.example.music.code.song}}<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• {i18n{folder-structure-guide.example.music.code.cover-art}}<br>
      </code>
    </div>
  </div>

  <div class="supported-types">
    <h3>{i18n{folder-structure-guide.supported-types.title}}</h3>

    <table class="informational">
      <tr>
        <td>{i18n{folder-structure-guide.supported-types.music-files}}</td>
        <td>
          <code class="inline">.mp3</code>
          <code class="inline">.flac</code>
          <code class="inline">.m4a</code>
          <code class="inline">.opus</code>
          <code class="inline">.aac</code>
          <code class="inline">.wav</code>
        </td>
      </tr>
      <tr>
        <td>{i18n{folder-structure-guide.supported-types.artwork}}</td>
        <td>
          <code class="inline">.jpg</code>
          <code class="inline">.png</code>
          <code class="inline">.gif</code>
        </td>
      </tr>
    </table>
  </div>
</div>